:root {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  --text-primary: #000000;
  --text-secondary: #ffffff;
  --text-highlighter: #ffd234;
  --bg-primary: #ffffff;
  --bg-secondary: #202020;
  --bg-border: rgba(0, 0, 0, 0.25);
  --bg-highlighter: #ffd234;
  --bg-button: linear-gradient(180deg, #2f2f2f, #3f3f3f);
  --bg-button-face: linear-gradient(90deg, #2d2d2d, #4d4d4d);
  --border-primary: #0004;
  --border-secondary: #0009;
  --bg-text-value: #a7af7c;
}

body {
  color: var(--text-secondary);
  background-color: var(--bg-secondary);
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--bg-border);
  border-radius: 10px;
  min-width: 300px;
  min-height: 400px;
  box-shadow: inset 5px 5px 15px var(--bg-border);
  padding: 40px 30px 30px;
}

.calculator {
  display: grid;
  position: relative;
}

.calculator .value {
  position: relative;
  left: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  height: 100px;
  width: calc(100% - 40px);
  padding: 10px;
  border: none;
  background-color: var(--bg-text-value);
}
